h3{
    font-size: 21px;
    font-family: inherit;
  }
  
  .icone {
    font-size: 43px;
    COLOR: #238e6a;
  }
  .cardtitle{
      text-align: center;
  }
  .title{
    position: relative; 
    text-align: center;
    color: white;
    font-size: 27px;
    text-align: "center";
  }
  .card{
    background-color: #dae8e8;
  }
  .label{
      background: none;
  }