<ion-content padding>
  <h3>Cadastre uma tarefa</h3>
  <ion-item class="item">
      <ion-label position="stacked">Nome</ion-label>
      <ion-input [(ngModel)]="newTarefas.nome" type="nome"></ion-input>
  </ion-item>
 
  <ion-button
      [disabled]="!newTarefas.nome"
      (click)="adicionarTarefa()" shape="round" expand="full" class="confirm">
      SALVAR
  <ion-select-option *ngFor="let tarefas of listaTarefas" value="{{tarefas.nome}}">{{tarefas.nome}}</ion-select-option>
  </ion-button>
  <ion-button (click)="voltar()" shape="round" expand="full" class="back">
      VOLTAR
  </ion-button>
</ion-content>