<ion-content padding>
<h3>Cadastre uma notícia</h3>
<ion-item class="item">
    <ion-label position="stacked">Título</ion-label>
    <ion-label position="stacked">Subtitulo</ion-label>
    <ion-button (click)="voltar()" shape="round" expand="full" class="back">Arquivo</ion-button>
    <ion-input [(ngModel)]="newProjetos.nome" type="nome"></ion-input>
</ion-item>

<ion-button
    [disabled]="!newProjetos.nome"
    (click)="adicionarProj()" shape="round" expand="full" class="confirm">
    SALVAR
<ion-select-option *ngFor="let projetos of lista" value="{{projetos.nome}}">{{projetos.nome}}</ion-select-option>
</ion-button>
<ion-button (click)="voltar()" shape="round" expand="full" class="back">
    VOLTAR
</ion-button>
</ion-content>