<ion-header class="header">
    <ion-toolbar>
        <ion-title>Projetos</ion-title>
        <ion-icon  (click)="add()" class="add" name="add"></ion-icon>
        <ion-icon (click)="deletar(projeto.uid)" class="iconedelete" name="trash"></ion-icon>
        <ion-icon (click)="editar(projeto.uid)" class="iconeedit" name="create"></ion-icon>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list (click)="navegar(produto.uid)">
        <ion-item *ngFor="let projeto of lista">
                <ion-avatar slot="start">
                        <ion-icon class="icone" name="document"></ion-icon>
                        </ion-avatar>
                        <ion-label>
                                <h3> {{projeto.nome}}</h3>
                            </ion-label>
                        </ion-item>
    </ion-list>
</ion-content>


