@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
h3 {
   position: absolute;
   top: -3px;
   left: 87px;
   font-size: 36px;
   font-family: "Yanone Kaffeesatz", sans-serif;
   color: #1889bdcc;
   font-weight: bolder;
}
h2{
   position: absolute;
   font-family: "Yanone Kaffeesatz", sans-serif;
   font-size: 27px;
   height: 75px;
   left: 135px;
   color: #1889bdcc;

}
.confirm{
   width: 263px;
   --background: #4fd750cc;
   font-family: 'Yanone Kaffeesatz', sans-serif;
   font-size: 17px;
   font-weight: bolder;
}
.div2{
   position: relative;
}

.image{
   width: 50px;
   height: 50px;
   position: absolute;
   left: 290px;
   top: 3px;
}
.limpeza{
   position: relative;
   top: 325px;
  background-color: #98d2eca6;
   font-family: 'Yanone Kaffeesatz', sans-serif;
   font-size: 13px;
   font-weight: bolder
}
.reuniao{
   position: relative;
   top: 327px;
   --backgound: #98d2eca6;
   font-family: 'Yanone Kaffeesatz', sans-serif;
   font-size: 13px;
   font-weight: bolder
   
}
.compras{
   position: relative;
   top: 330px;
   --backgound: #98d2eca6;
   font-family: 'Yanone Kaffeesatz', sans-serif;
   font-size: 13px;
   font-weight: bolder
}
.menubutton{
   width: 50px;
   height: 50px;
   background-color: white;
 }
 .icone{
   font-size: 30px;
}
.iconeadd{
   
   font-size: 25px;
   top: 13px;
   left: 231px;
   position: absolute;
   color: #138108;
}
.iconedelete{
   position: absolute;
   font-size: 27px;
   top: 13px;
   left: 312px;
   position: absolute;
   color: #ff0320
}
.iconeedit{
   font-size: 27px;
   top: 13px;
   left: 277px;
   position: absolute;
   color: #0363ff;
}
.noticia{

   position: absolute;
 
    top: -1px;

}
.header{
   text-align: center;
}
.botao{
width: 35px;
left: 270px;
background: border-box;
top: -3px;
height: 34px;
}
.botao2{
   width: 35px;
   left: 270px;
   background: border-box;
   top: -3px;
   height: 34px;
   }
   
   

